In [120]:
import pandas as pd
from pathlib import Path

In [121]:
raw_path  = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\raw\\sipri\\defense_spending_share_gov.csv")

df = pd.read_csv(raw_path)

In [122]:
df.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,0.069904,0.070861,0.093684,0.093543,0.106039,0.117514,0.127172,0.117222,0.120050,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.156940,0.150250,0.126723,0.193357
3,Libya,NaN,NaN,NaN,NaN,NaN,0.116873,0.142135,0.115252,0.102678,...,0.109068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Morocco,0.151130,0.158109,0.162983,0.160040,0.176140,0.177801,0.170343,0.121357,0.109042,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.111220

In [123]:
df.columns

Index(['Country', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [124]:
# Get unique country names
unique_countries = df['Country'].unique()
print(unique_countries)

['Africa' 'North Africa' 'Algeria' 'Libya' 'Morocco' 'Tunisia'
 'sub-Saharan Africa' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi'
 'Cameroon' 'Cape Verde' 'Central African Republic' 'Chad' 'Congo, DR'
 'Congo, Republic' "Cote d'Ivoire" 'Djibouti' 'Equatorial Guinea'
 'Eritrea' 'Ethiopia' 'Gabon' 'Gambia, The' 'Ghana' 'Guinea'
 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria'
 'Rwanda' 'Senegal' 'Seychelles' 'Sierra Leone' 'Somalia' 'South Africa'
 'South Sudan' 'Sudan' 'Eswatini' 'Tanzania' 'Togo' 'Uganda' 'Zambia'
 'Zimbabwe' 'Americas' 'Central America and the Caribbean' 'Belize'
 'Costa Rica' 'Cuba' 'Dominican Republic' 'El Salvador' 'Guatemala'
 'Haiti' 'Honduras' 'Jamaica' 'Mexico' 'Nicaragua' 'Panama'
 'Trinidad and Tobago' 'North America' 'Canada' 'United States of America'
 'South America' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Venezuela'
 'Asia & Oceania' 'Oceania' 'Australia' 'Fiji' 'New Zealand'
 'Papua New Guinea' 'South Asia' 'Afghanistan' 'Bangladesh' 'India'
 'Nepal' 'Pakistan' 'Sri Lanka' 'East Asia' 'China' 'Japan' 'Korea, North'
 'Korea, South' 'Mongolia' 'Taiwan' 'South East Asia' 'Brunei' 'Cambodia'
 'Indonesia' 'Laos' 'Malaysia' 'Myanmar' 'Philippines' 'Singapore'
 'Thailand' 'Timor Leste' 'Viet Nam' 'Central Asia' 'Kazakhstan'
 'Kyrgyz Republic' 'Tajikistan' 'Turkmenistan' 'Uzbekistan' 'Europe'
 'Central Europe' 'Albania' 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia'
 'Czechia' 'Czechoslovakia' 'Estonia' 'German Democratic Republic'
 'Hungary' 'Kosovo' 'Latvia' 'Lithuania' 'North Macedonia' 'Montenegro'
 'Poland' 'Romania' 'Serbia' 'Slovakia' 'Slovenia' 'Yugoslavia'
 'Eastern Europe' 'Armenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova'
 'Russia' 'Ukraine' 'USSR' 'Western Europe' 'Austria' 'Belgium' 'Cyprus'
 'Denmark' 'Finland' 'France' 'Germany' 'Greece' 'Iceland' 'Ireland'
 'Italy' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Portugal' 'Spain'
 'Sweden' 'Switzerland' 'United Kingdom' 'European Union' 'Middle East'
 'Bahrain' 'Egypt' 'Iran' 'Iraq' 'Israel' 'Jordan' 'Kuwait' 'Lebanon'
 'Oman' 'Qatar' 'Saudi Arabia' 'Syria' 'TÃƒÂ¼rkiye' 'United Arab Emirates'
 'Yemen, North' 'Yemen']

In [125]:
# List of known aggregate/non-country entries to exclude
non_countries = [
    # ----- Global / income groups
    "World", "High income", "Low income", "Lower middle income",
    "Upper middle income", "Low & middle income", "Middle income",

    # ----- Broad geographic aggregates
    "Africa", "North Africa", "sub-Saharan Africa",
    "Americas", "North America", "South America",
    "Asia & Oceania", "Oceania",
    "Europe", "Central Europe",
    "Middle East",
    "South Asia", "East Asia", "South East Asia", "Central Asia",
    "USSR",                     # historical
    "Western Europe",           # regional aggregate
    "Eastern Europe",           # if also found, for completeness
    "Southern Europe",          # sometimes used in groupings
    "Northern Europe",          # idem

    # ----- Regional sub-aggregates
    "Central America and the Caribbean",
    "European Union",

    # ----- World Bank / development classifications
    "Fragile and conflict affected situations", "Fragile situations",
    "Heavily indebted poor countries (HIPC)",
    "IDA only", "IDA blend", "IDA total",
    "IDA & IBRD total", "IBRD only",
    "Least developed countries: UN classification",
    "World Bank high income", "World Bank low income",
    "World Bank middle income", "World Bank upper middle income",
    "World Bank lower middle income",

    # ----- OECD / other groupings
    "OECD members", "OECD", "Euro area",

    # ----- Demographic groupings
    "Early-demographic dividend", "Late-demographic dividend",
    "Post-demographic dividend", "Pre-demographic dividend",

    # ----- Small-state & territory aggregates
    "Caribbean small states", "Pacific island small states",
    "Other small states", "Small states",

    # ----- Sub-regional aggregates already present
    "Latin America & Caribbean",
    "Latin America & Caribbean (excluding high income)",
    "Latin America & the Caribbean (IDA & IBRD countries)",
    "East Asia & Pacific", "East Asia & Pacific (excluding high income)",
    "East Asia & Pacific (IDA & IBRD countries)",
    "Europe & Central Asia", "Europe & Central Asia (excluding high income)",
    "Europe & Central Asia (IDA & IBRD countries)",
    "Middle East & North Africa",
    "Middle East & North Africa (excluding high income)",
    "Middle East & North Africa (IDA & IBRD countries)",
    "Sub-Saharan Africa (excluding high income)",
    "Sub-Saharan Africa (IDA & IBRD countries)",
    "South Asia (IDA & IBRD)",
    "Africa Eastern and Southern", "Africa Western and Central",
    "Central Europe and the Baltics",

    # ----- Historical / defunct states & entities
    "Czechoslovakia", "German Democratic Republic", "Yemen, North",

    # ----- Territories & special areas
    "American Samoa", "Anguilla", "Aruba", "Bermuda",
    "British Virgin Islands", "Cayman Islands", "Channel Islands",
    "Curacao", "Faroe Islands", "French Polynesia", "Gibraltar",
    "Greenland", "Guam", "Isle of Man", "Jersey", "Guernsey",
    "Macao SAR, China", "Hong Kong SAR, China", "Marshall Islands",
    "Northern Mariana Islands", "Palau", "Puerto Rico",
    "Sint Maarten (Dutch part)", "New Caledonia",
    "Virgin Islands (U.S.)", "West Bank and Gaza",
    "Kosovo",  # UN-disputed; treat as non-sovereign if desired

    # ----- Additional non-sovereign or grouped codes encountered
    "Not classified",
]

# 1. Filter out non-countries
df_filtered = df[~df['Country'].isin(non_countries)].copy()


# Reset index so it goes from 0 to len(df)-1
df_filtered = df_filtered.reset_index(drop=True)

# 2. Normalize country names: strip whitespace and consistent capitalization
df_filtered['Country'] = df_filtered['Country'].str.strip()
df_filtered['Country'] = df_filtered['Country'].str.replace(' And ', ' and ', regex=False)
df_filtered['Country'] = df_filtered['Country'].str.replace(' Of ', ' of ', regex=False)
df_filtered['Country'] = df_filtered['Country'].str.replace(' Dr', ' DR', regex=False)

# 3. Manual fixes for spelling/formatting inconsistencies
df_filtered['Country'] = df_filtered['Country'].replace({
    'TÃƒÂ¼rkiye': 'TÃ¼rkiye',
    'TÃ£Â¼rkiye': 'TÃ¼rkiye',
    'Turkiye': 'TÃ¼rkiye',
    "Cote D'Ivoire": "Cote d'Ivoire",
    'Bosnia And Herzegovina': 'Bosnia and Herzegovina',
    'Trinidad And Tobago': 'Trinidad and Tobago',
    'United States of America': 'United States',
    'Cape Verde': 'Cabo Verde',
    'Congo, DR': 'Congo, Dem. Rep.',
    'Congo, Republic': 'Congo, Rep.',
    'Korea, South': 'South Korea',
    'Korea, Rep.': 'South Korea',
    'Brunei Darussalam': 'Brunei',
    'Lao PDR': 'Laos',
    'Timor Leste': 'Timor-Leste',
    'Russian Federation': 'Russia',
    'Iran, Islamic Rep.': 'Iran',
    'Egypt, Arab Rep.': 'Egypt',
    'Slovak Republic': 'Slovakia',
    'Yemen, Rep.': 'Yemen',
    'Bahamas, The' : 'The Bahamas',
    'Venezuela, RB': 'Venezuela',
    'Viet Nam' : 'Vietnam',
    'Russian Federation': 'Russia',
    'Iran, Islamic Rep.': 'Iran',
    'Korea, Rep.': 'South Korea',
    "Korea, Dem. People's Rep.": 'North Korea',
    'Egypt, Arab Rep.': 'Egypt',
    'Lao PDR': 'Laos',
    'Venezuela, RB': 'Venezuela',
    'Slovak Republic': 'Slovakia',
    'Syrian Arab Republic': 'Syria',
    'Gambia, The': 'The Gambia',
    'Bahamas, The': 'The Bahamas',
    'Brunei Darussalam': 'Brunei',
    'Cabo Verde': 'Cape Verde',
    'Timor-Leste': 'Timor Leste',
    'Congo, Dem. Rep.': 'Congo (Kinshasa)',
    'Congo, Rep.': 'Congo (Brazzaville)',
    'Cote d\'Ivoire': 'Ivory Coast',

})

# 4. Convert year columns from object (string) to numeric (float), handling errors gracefully
years = [str(y) for y in range(1992, 2025)]
for year in years:
    if year in df_filtered.columns:
        df_filtered[year] = pd.to_numeric(df_filtered[year], errors='coerce')


# Now df is filtered and country names are standardized, ready for analysis
print(f"Data shape after filtering and cleaning: {df_filtered.shape}")
print("Unique countries after cleaning:", df_filtered['Country'].unique())

Data shape after filtering and cleaning: (168, 33)
Unique countries after cleaning: ['Algeria' 'Libya' 'Morocco' 'Tunisia' 'Angola' 'Benin' 'Botswana'
 'Burkina Faso' 'Burundi' 'Cameroon' 'Cabo Verde'
 'Central African Republic' 'Chad' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Ivory Coast' 'Djibouti' 'Equatorial Guinea' 'Eritrea' 'Ethiopia' 'Gabon'
 'The Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Liberia'
 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Mozambique'
 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa' 'South Sudan' 'Sudan' 'Eswatini'
 'Tanzania' 'Togo' 'Uganda' 'Zambia' 'Zimbabwe' 'Belize' 'Costa Rica'
 'Cuba' 'Dominican Republic' 'El Salvador' 'Guatemala' 'Haiti' 'Honduras'
 'Jamaica' 'Mexico' 'Nicaragua' 'Panama' 'Trinidad and Tobago' 'Canada'
 'United States' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Venezuela' 'Australia'
 'Fiji' 'New Zealand' 'Papua New Guinea' 'Afghanistan' 'Bangladesh'
 'India' 'Nepal' 'Pakistan' 'Sri Lanka' 'China' 'Japan' 'Korea, North'
 'South Korea' 'Mongolia' 'Taiwan' 'Brunei' 'Cambodia' 'Indonesia' 'Laos'
 'Malaysia' 'Myanmar' 'Philippines' 'Singapore' 'Thailand' 'Timor-Leste'
 'Vietnam' 'Kazakhstan' 'Kyrgyz Republic' 'Tajikistan' 'Turkmenistan'
 'Uzbekistan' 'Albania' 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia'
 'Czechia' 'Estonia' 'Hungary' 'Latvia' 'Lithuania' 'North Macedonia'
 'Montenegro' 'Poland' 'Romania' 'Serbia' 'Slovakia' 'Slovenia'
 'Yugoslavia' 'Armenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova'
 'Russia' 'Ukraine' 'Austria' 'Belgium' 'Cyprus' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Iceland' 'Ireland' 'Italy' 'Luxembourg'
 'Malta' 'Netherlands' 'Norway' 'Portugal' 'Spain' 'Sweden' 'Switzerland'
 'United Kingdom' 'Bahrain' 'Egypt' 'Iran' 'Iraq' 'Israel' 'Jordan'
 'Kuwait' 'Lebanon' 'Oman' 'Qatar' 'Saudi Arabia' 'Syria' 'TÃ¼rkiye'
 'United Arab Emirates' 'Yemen']

In [126]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  168 non-null    object
 1   1992     75 non-null     float64
 2   1993     82 non-null     float64
 3   1994     87 non-null     float64
 4   1995     102 non-null    float64
 5   1996     105 non-null    float64
 6   1997     113 non-null    float64
 7   1998     115 non-null    float64
 8   1999     118 non-null    float64
 9   2000     133 non-null    float64
 10  2001     137 non-null    float64
 11  2002     142 non-null    float64
 12  2003     146 non-null    float64
 13  2004     148 non-null    float64
 14  2005     151 non-null    float64
 15  2006     146 non-null    float64
 16  2007     144 non-null    float64
 17  2008     149 non-null    float64
 18  2009     145 non-null    float64
 19  2010     144 non-null    float64
 20  2011     142 non-null    float64
 21  2012     148 non-null    float64
 22  2013     151 non-null    float64
 23  2014     152 non-null    float64
 24  2015     148 non-null    float64
 25  2016     149 non-null    float64
 26  2017     149 non-null    float64
 27  2018     151 non-null    float64
 28  2019     149 non-null    float64
 29  2020     149 non-null    float64
 30  2021     150 non-null    float64
 31  2022     148 non-null    float64
 32  2023     146 non-null    float64
dtypes: float64(32), object(1)
memory usage: 43.4+ KB

In [127]:
df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,0.069904,0.070861,0.093684,0.093543,0.106039,0.117514,0.127172,0.117222,0.120050,...,0.134377,0.135656,0.152039,0.146409,0.135999,0.143587,0.156940,0.150250,0.126723,0.193357
1,Libya,NaN,NaN,NaN,NaN,NaN,0.116873,0.142135,0.115252,0.102678,...,0.109068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,0.151130,0.158109,0.162983,0.160040,0.176140,0.177801,0.170343,0.121357,0.109042,...,0.110783,0.104176,0.104448,0.105925,0.104896,0.104736,0.116552,0.120053,0.118359,0.111220
3,Tunisia,0.063291,0.061916,0.064018,0.062582,0.066741,0.067090,0.066169,0.061789,0.061377,...,0.065263,0.077960,0.081760,0.070733,0.068902,0.080702,0.078555,0.079197,0.070461,0.070458
4,Angola,NaN,NaN,NaN,NaN,0.060329,0.138755,0.062339,0.273755,0.128833,...,0.128877,0.114798,0.124000,0.104141,0.095039,0.085236,0.074624,0.066798,0.058413,0.055282

In [128]:
# Identify all year columns automatically (assuming they are from 1992 to 2023)
year_cols = [col for col in df_filtered.columns if col != 'Country']

# Convert columns to numeric just in case (but don't multiply!)
df_filtered[year_cols] = df_filtered[year_cols].apply(pd.to_numeric, errors='coerce') * 100

df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,6.990372,7.086079,9.368375,9.354305,10.603947,11.751431,12.717231,11.722227,12.004986,...,13.437742,13.565596,15.203920,14.640902,13.599871,14.358742,15.694046,15.024956,12.672319,19.335680
1,Libya,NaN,NaN,NaN,NaN,NaN,11.687259,14.213519,11.525205,10.267775,...,10.906788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,15.112962,15.810921,16.298257,16.003962,17.613954,17.780116,17.034282,12.135690,10.904245,...,11.078307,10.417622,10.444783,10.592541,10.489648,10.473610,11.655206,12.005267,11.835927,11.122039
3,Tunisia,6.329051,6.191646,6.401790,6.258202,6.674142,6.709011,6.616900,6.178874,6.137680,...,6.526302,7.795991,8.176006,7.073337,6.890157,8.070219,7.855481,7.919698,7.046129,7.045826
4,Angola,NaN,NaN,NaN,NaN,6.032920,13.875464,6.233868,27.375517,12.883322,...,12.887733,11.479843,12.399974,10.414084,9.503913,8.523623,7.462364,6.679817,5.841265,5.528156

In [129]:
df_long = df_filtered.melt(
    id_vars='Country',
    var_name='Year',
    value_name='Defense_Spending'
)

# Convert Year to integer (if needed)
df_long['Year'] = df_long['Year'].astype(int)

# Optional: sort it nicely
df_long = df_long.sort_values(by=['Country', 'Year']).reset_index(drop=True)

# Reorder columns
df_long = df_long[['Year', 'Country', 'Defense_Spending']]

df_long.rename(columns={"Defense_Spending": "Defense_Share_GOV"}, inplace=True)

# Preview
print(df_long.head(10))

   Year      Country  Defense_Share_GOV
0  1992  Afghanistan                NaN
1  1993  Afghanistan                NaN
2  1994  Afghanistan                NaN
3  1995  Afghanistan                NaN
4  1996  Afghanistan                NaN
5  1997  Afghanistan                NaN
6  1998  Afghanistan                NaN
7  1999  Afghanistan                NaN
8  2000  Afghanistan                NaN
9  2001  Afghanistan                NaN

In [130]:
save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gov_long_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_long.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gov_long_1992-2023.csv

In [131]:
# Assume the first column is 'Country' and all others are years (e.g., 1990â€“2023)
year_columns = df_filtered.columns[1:]  # Skip 'Country' column

# Count number of missing year values per country
df_filtered["Missing_Years"] = df_filtered[year_columns].isna().sum(axis=1)

# View countries sorted by how many years are missing
missing_summary = df_filtered[["Country", "Missing_Years"]].sort_values(by="Missing_Years", ascending=False)

missing_summary.head(10)

          Country  Missing_Years
76      Venezuela             32
125    Yugoslavia             32
165       TÃ¼rkiye             32
141       Iceland             32
53           Cuba             32
89   Korea, North             32
52     Costa Rica             32
107  Turkmenistan             29
62         Panama             26
108    Uzbekistan             22

In [132]:
df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Missing_Years
0,Algeria,6.990372,7.086079,9.368375,9.354305,10.603947,11.751431,12.717231,11.722227,12.004986,...,13.565596,15.203920,14.640902,13.599871,14.358742,15.694046,15.024956,12.672319,19.335680,0
1,Libya,NaN,NaN,NaN,NaN,NaN,11.687259,14.213519,11.525205,10.267775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,Morocco,15.112962,15.810921,16.298257,16.003962,17.613954,17.780116,17.034282,12.135690,10.904245,...,10.417622,10.444783,10.592541,10.489648,10.473610,11.655206,12.005267,11.835927,11.122039,0
3,Tunisia,6.329051,6.191646,6.401790,6.258202,6.674142,6.709011,6.616900,6.178874,6.137680,...,7.795991,8.176006,7.073337,6.890157,8.070219,7.855481,7.919698,7.046129,7.045826,0
4,Angola,NaN,NaN,NaN,NaN,6.032920,13.875464,6.233868,27.375517,12.883322,...,11.479843,12.399974,10.414084,9.503913,8.523623,7.462364,6.679817,5.841265,5.528156,4

In [133]:
# Step 1: Count missing years per country (across all year columns)
missing_years_per_country = df_filtered.set_index('Country').isna().sum(axis=1)

# Step 2: Identify countries with more than 6 missing years
countries_to_drop = missing_years_per_country[missing_years_per_country > 10].index.tolist()
print(f"Number of countries to drop: {len(countries_to_drop)}")

# Step 3: Drop these countries from df_filtered
df_final = df_filtered[~df_filtered['Country'].isin(countries_to_drop)].reset_index(drop=True)

# Step 4: Check result
print(f"Remaining countries: {df_final['Country'].nunique()}")
df_final.head()

Number of countries to drop: 36
Remaining countries: 132

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Missing_Years
0,Algeria,6.990372,7.086079,9.368375,9.354305,10.603947,11.751431,12.717231,11.722227,12.004986,...,13.565596,15.203920,14.640902,13.599871,14.358742,15.694046,15.024956,12.672319,19.335680,0
1,Morocco,15.112962,15.810921,16.298257,16.003962,17.613954,17.780116,17.034282,12.135690,10.904245,...,10.417622,10.444783,10.592541,10.489648,10.473610,11.655206,12.005267,11.835927,11.122039,0
2,Tunisia,6.329051,6.191646,6.401790,6.258202,6.674142,6.709011,6.616900,6.178874,6.137680,...,7.795991,8.176006,7.073337,6.890157,8.070219,7.855481,7.919698,7.046129,7.045826,0
3,Angola,NaN,NaN,NaN,NaN,6.032920,13.875464,6.233868,27.375517,12.883322,...,11.479843,12.399974,10.414084,9.503913,8.523623,7.462364,6.679817,5.841265,5.528156,4
4,Botswana,9.897272,10.114546,10.226978,9.059052,7.726972,8.009500,8.556251,7.521581,8.169209,...,7.141479,9.964905,9.271060,8.149107,8.459592,8.662856,8.660597,8.094648,7.826500,0

In [134]:
df_final = df_final.drop(columns=['Missing_Years'], errors='ignore')
df_final = df_final.reset_index(drop=True)

In [135]:
df_final.size

4356

In [136]:
# Create a copy to preserve df_final
df_final_interpolated = df_final.copy()

# Identify year columns (excluding 'Country')
year_cols = df_final_interpolated.columns.difference(['Country'])

# Interpolate only missing values for each country across years
df_final_interpolated[year_cols] = df_final_interpolated[year_cols].apply(
    lambda row: row.interpolate(limit_direction='both'), axis=1
)

# Confirm if any NaNs remain (there shouldn't be, since we dropped >6-missing already)
missing_remaining = df_final_interpolated[year_cols].isna().sum().sum()
print(f"Total remaining missing values after interpolation: {missing_remaining}")

Total remaining missing values after interpolation: 0

In [137]:
df_final_interpolated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  132 non-null    object
 1   1992     132 non-null    float64
 2   1993     132 non-null    float64
 3   1994     132 non-null    float64
 4   1995     132 non-null    float64
 5   1996     132 non-null    float64
 6   1997     132 non-null    float64
 7   1998     132 non-null    float64
 8   1999     132 non-null    float64
 9   2000     132 non-null    float64
 10  2001     132 non-null    float64
 11  2002     132 non-null    float64
 12  2003     132 non-null    float64
 13  2004     132 non-null    float64
 14  2005     132 non-null    float64
 15  2006     132 non-null    float64
 16  2007     132 non-null    float64
 17  2008     132 non-null    float64
 18  2009     132 non-null    float64
 19  2010     132 non-null    float64
 20  2011     132 non-null    float64
 21  2012     132 non-null    float64
 22  2013     132 non-null    float64
 23  2014     132 non-null    float64
 24  2015     132 non-null    float64
 25  2016     132 non-null    float64
 26  2017     132 non-null    float64
 27  2018     132 non-null    float64
 28  2019     132 non-null    float64
 29  2020     132 non-null    float64
 30  2021     132 non-null    float64
 31  2022     132 non-null    float64
 32  2023     132 non-null    float64
dtypes: float64(32), object(1)
memory usage: 34.2+ KB

In [138]:
df_final_interpolated.tail()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
127,Kuwait,34.996221,20.268139,22.655707,24.881463,23.118151,18.515295,16.913911,16.897305,19.558708,...,8.097312,9.204345,10.910338,10.778772,10.019890,10.220920,9.873506,11.983610,11.225836,9.448221
128,Lebanon,22.403602,26.448498,14.990426,21.872385,13.166497,10.766261,11.727747,13.584139,12.754870,...,16.369634,16.824281,18.017396,15.057808,15.639590,15.203105,15.479736,15.237042,10.719608,10.719608
129,Oman,26.479800,25.097462,25.827441,25.013967,24.505543,25.439732,22.738896,21.997439,22.696482,...,21.393443,21.488502,23.676094,21.338106,21.574390,19.184120,18.030618,18.149025,16.984266,20.657363
130,Saudi Arabia,27.255134,32.834105,31.301293,28.448851,25.250231,30.722608,41.161212,37.369248,31.794149,...,26.552604,32.652578,27.747815,30.705065,25.937057,23.145420,22.505090,22.810006,22.672248,24.044520
131,Yemen,29.545412,27.419115,33.352214,26.321177,17.204348,16.963917,17.745978,18.311590,15.511537,...,14.279625,14.279625,14.279625,14.279625,14.279625,14.279625,14.279625,14.279625,14.279625,14.279625

In [139]:
unique_countries = df_final_interpolated['Country'].unique()
print(unique_countries)

['Algeria' 'Morocco' 'Tunisia' 'Angola' 'Botswana' 'Burkina Faso'
 'Burundi' 'Cameroon' 'Cabo Verde' 'Central African Republic' 'Chad'
 'Congo, Dem. Rep.' 'Ivory Coast' 'Ethiopia' 'Ghana' 'Guinea'
 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Madagascar' 'Malawi' 'Mali'
 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Senegal'
 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan' 'Eswatini' 'Tanzania'
 'Togo' 'Uganda' 'Belize' 'Dominican Republic' 'El Salvador' 'Guatemala'
 'Honduras' 'Jamaica' 'Mexico' 'Nicaragua' 'Trinidad and Tobago' 'Canada'
 'United States' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Australia' 'Fiji'
 'New Zealand' 'Papua New Guinea' 'Bangladesh' 'India' 'Nepal' 'Pakistan'
 'Sri Lanka' 'China' 'Japan' 'South Korea' 'Mongolia' 'Taiwan' 'Brunei'
 'Cambodia' 'Indonesia' 'Malaysia' 'Philippines' 'Singapore' 'Thailand'
 'Kazakhstan' 'Kyrgyz Republic' 'Tajikistan' 'Albania'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Czechia' 'Estonia'
 'Hungary' 'Latvia' 'Lithuania' 'North Macedonia' 'Poland' 'Romania'
 'Serbia' 'Slovakia' 'Slovenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova'
 'Russia' 'Ukraine' 'Austria' 'Belgium' 'Cyprus' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Ireland' 'Italy' 'Luxembourg' 'Malta'
 'Netherlands' 'Norway' 'Portugal' 'Spain' 'Sweden' 'Switzerland'
 'United Kingdom' 'Bahrain' 'Egypt' 'Iran' 'Israel' 'Jordan' 'Kuwait'
 'Lebanon' 'Oman' 'Saudi Arabia' 'Yemen']

In [140]:
missing_countries = df_final_interpolated[df_final_interpolated.isnull().any(axis=1)]["Country"].tolist()
print("Countries with missing years in df_final:")
print(missing_countries)

Countries with missing years in df_final:
[]

In [141]:
df_final_interpolated.isna().sum().sum()

np.int64(0)

In [142]:
df_final_interpolated.head(10)

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,6.990372,7.086079,9.368375,9.354305,10.603947,11.751431,12.717231,11.722227,12.004986,...,13.437742,13.565596,15.203920,14.640902,13.599871,14.358742,15.694046,15.024956,12.672319,19.335680
1,Morocco,15.112962,15.810921,16.298257,16.003962,17.613954,17.780116,17.034282,12.135690,10.904245,...,11.078307,10.417622,10.444783,10.592541,10.489648,10.473610,11.655206,12.005267,11.835927,11.122039
2,Tunisia,6.329051,6.191646,6.401790,6.258202,6.674142,6.709011,6.616900,6.178874,6.137680,...,6.526302,7.795991,8.176006,7.073337,6.890157,8.070219,7.855481,7.919698,7.046129,7.045826
3,Angola,6.032920,6.032920,6.032920,6.032920,6.032920,13.875464,6.233868,27.375517,12.883322,...,12.887733,11.479843,12.399974,10.414084,9.503913,8.523623,7.462364,6.679817,5.841265,5.528156
4,Botswana,9.897272,10.114546,10.226978,9.059052,7.726972,8.009500,8.556251,7.521581,8.169209,...,6.147160,7.141479,9.964905,9.271060,8.149107,8.459592,8.662856,8.660597,8.094648,7.826500
5,Burkina Faso,11.246468,9.415326,7.961595,7.087145,6.463926,6.992551,6.342017,5.758136,6.244198,...,6.079708,6.143692,5.387178,5.195302,7.949441,9.527545,8.787845,8.368537,9.212091,15.105101
6,Burundi,11.853052,13.827599,20.105187,16.361996,20.601409,29.119081,28.338990,24.756130,19.729225,...,8.074711,9.199416,9.936770,8.312272,8.261049,9.759182,7.423965,6.724940,6.703756,10.229631
7,Cameroon,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,...,5.507784,5.475635,5.679761,5.920566,5.993623,5.703581,5.812163,5.770154,5.499519,5.625886
8,Cabo Verde,1.587660,1.587660,1.587660,2.445151,1.791622,1.934569,2.334528,2.081910,2.738344,...,1.773926,1.777506,2.064145,1.681427,1.764411,1.571162,1.787165,1.775255,1.714616,1.744646
9,Central African Republic,7.033569,7.176235,5.606249,5.639134,10.310863,9.681362,9.051861,8.422360,7.792859,...,11.265692,11.281429,12.143408,9.690401,7.611081,10.583759,7.403314,10.923093,9.696503,12.719932

In [143]:
df_final_interpolated.head(50)

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,6.990372,7.086079,9.368375,9.354305,10.603947,11.751431,12.717231,11.722227,12.004986,...,13.437742,13.565596,15.203920,14.640902,13.599871,14.358742,15.694046,15.024956,12.672319,19.335680
1,Morocco,15.112962,15.810921,16.298257,16.003962,17.613954,17.780116,17.034282,12.135690,10.904245,...,11.078307,10.417622,10.444783,10.592541,10.489648,10.473610,11.655206,12.005267,11.835927,11.122039
2,Tunisia,6.329051,6.191646,6.401790,6.258202,6.674142,6.709011,6.616900,6.178874,6.137680,...,6.526302,7.795991,8.176006,7.073337,6.890157,8.070219,7.855481,7.919698,7.046129,7.045826
3,Angola,6.032920,6.032920,6.032920,6.032920,6.032920,13.875464,6.233868,27.375517,12.883322,...,12.887733,11.479843,12.399974,10.414084,9.503913,8.523623,7.462364,6.679817,5.841265,5.528156
4,Botswana,9.897272,10.114546,10.226978,9.059052,7.726972,8.009500,8.556251,7.521581,8.169209,...,6.147160,7.141479,9.964905,9.271060,8.149107,8.459592,8.662856,8.660597,8.094648,7.826500
5,Burkina Faso,11.246468,9.415326,7.961595,7.087145,6.463926,6.992551,6.342017,5.758136,6.244198,...,6.079708,6.143692,5.387178,5.195302,7.949441,9.527545,8.787845,8.368537,9.212091,15.105101
6,Burundi,11.853052,13.827599,20.105187,16.361996,20.601409,29.119081,28.338990,24.756130,19.729225,...,8.074711,9.199416,9.936770,8.312272,8.261049,9.759182,7.423965,6.724940,6.703756,10.229631
7,Cameroon,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,8.008987,...,5.507784,5.475635,5.679761,5.920566,5.993623,5.703581,5.812163,5.770154,5.499519,5.625886
8,Cabo Verde,1.587660,1.587660,1.587660,2.445151,1.791622,1.934569,2.334528,2.081910,2.738344,...,1.773926,1.777506,2.064145,1.681427,1.764411,1.571162,1.787165,1.775255,1.714616,1.744646
9,Central African Republic,7.033569,7.176235,5.606249,5.639134,10.310863,9.681362,9.051861,8.422360,7.792859,...,11.265692,11.281429,12.143408,9.690401,7.611081,10.583759,7.403314,10.923093,9.696503,12.719932
10,Chad,7.674715,7.674715,7.674715,7.674715,8.775567,6.104391,6.196434,7.215532,7.480315,...,12.769711,11.007613,21.136504,14.766434,17.200973,14.932423,15.417936,14.947975,14.595811,15.340982
11,"Congo, Dem. Rep.",14.933333,14.933333,14.933333,14.933333,14.933333,12.669735,3.471208,12.164572,8.847749,...,5.139212,7.518946,7.364427,7.423496,5.095180,5.209112,5.807707,3.428104,3.251999,6.963150
12,Ivory Coast,3.804307,3.804307,3.804307,3.804307,3.804307,3.804307,4.494093,5.183880,5.873666,...,7.018491,7.537629,7.086410,5.333714,5.917839,5.161479,4.728267,4.283742,3.917942,3.970675
13,Ethiopia,17.017836,15.697452,11.454750,9.008003,7.879145,15.098333,28.804732,36.165394,29.530377,...,4.395003,4.071487,3.816044,3.754497,4.011660,3.777490,3.605479,3.565651,6.850634,7.537117
14,Ghana,2.563521,2.333333,2.217607,2.410779,2.149231,2.233765,2.629941,2.782747,3.440062,...,2.313195,2.109775,1.465066,1.778498,1.559573,1.528718,1.113740,1.406524,1.249053,1.915030
15,Guinea,8.783118,7.246177,7.717099,7.374967,7.032836,6.690704,8.496462,9.901630,8.992161,...,11.102226,11.601511,11.663242,10.174823,10.416253,9.835496,8.632945,9.958548,15.797695,13.817007
16,Guinea-Bissau,1.082603,1.082603,1.082603,1.965107,2.294056,2.044316,5.628290,8.005867,10.383444,...,8.248636,6.878063,6.163822,7.226374,7.007143,8.078847,6.347448,5.966820,6.766292,6.407471
17,Kenya,5.885521,5.330887,4.975262,5.409867,6.213140,5.755247,5.433007,5.971305,6.453206,...,5.120344,5.049655,4.921441,4.917150,4.937760,4.559728,4.469858,4.485458,4.430270,4.114340
18,Lesotho,7.732103,6.936721,6.881559,7.777604,6.870068,6.139740,5.602223,7.081633,8.444843,...,3.770946,3.575809,3.639928,4.391399,3.831068,3.523525,3.412066,2.894918,2.762872,2.729008
19,Madagascar,3.841796,5.452320,4.690008,4.882508,6.964001,8.528125,6.767827,6.801936,6.645313,...,4.431720,3.994648,3.701488,3.387828,3.707750,3.550057,4.115875,4.952728,3.769468,3.454812
20,Malawi,2.174402,2.174402,2.174402,2.174402,2.174402,2.174402,2.174402,2.174402,2.174402,...,3.178066,2.309486,2.289293,2.525202,3.041598,3.938923,3.670538,3.087818,3.497985,3.958136
21,Mali,7.625128,7.625128,7.625128,7.625128,7.625128,7.625128,7.625128,7.625128,7.625128,...,7.595185,11.271798,11.618669,13.213400,13.904255,11.891117,13.017785,12.568769,12.382093,14.183349
22,Mauritius,1.253347,1.255528,1.108854,1.109055,1.032365,0.825765,0.730592,0.716240,0.853125,...,0.655649,0.581864,0.728947,0.681897,0.643071,0.534913,0.495215,0.555857,0.475001,0.524061
23,Mozambique,10.114632,9.969658,10.736945,5.827866,6.009154,5.210012,5.938483,5.760791,5.429252,...,2.432355,2.570782,3.200838,3.399057,4.223035,4.957706,6.186555,6.212865,4.551344,5.626135
24,Namibia,11.522867,6.851464,5.611820,5.833137,5.527079,6.582992,6.583912,8.685148,7.788473,...,10.350881,10.367755,9.508734,9.246837,9.173481,8.813116,8.390537,8.203174,7.986697,7.478685
25,Niger,6.430733,6.430733,6.430733,6.430733,6.672665,5.878245,6.133812,6.224245,6.673262,...,5.696346,6.997351,8.298356,9.276835,8.477998,8.892307,7.749394,5.594845,7.286515,10.225350
26,Nigeria,1.470257,1.799607,2.348548,3.869423,3.666871,3.197134,3.488013,4.071968,2.196817,...,3.102848,3.779671,4.435622,3.591751,3.954417,3.666734,5.231576,7.591828,4.517335,5.524900
27,Rwanda,17.808034,19.769509,21.436630,21.327800,23.720310,21.143951,23.130825,16.759673,16.259056,...,4.013294,4.565669,4.936706,4.977286,4.682375,4.246526,4.404392,4.790992,4.493809,4.554164
28,Senegal,8.766130,8.766130,8.766130,9.299793,8.234261,8.583523,8.737673,8.122683,7.435940,...,5.252699,5.269116,6.685689,6.548811,7.391375,6.302529,5.310125,6.796022,5.722228,5.503640
29,Seychelles,9.325044,4.527665,3.840256,4.295720,3.545332,3.698644,2.855172,3.171842,3.030303,...,6.810717,4.061341,4.074798,4.115812,3.689272,3.750770,2.984966,6.363316,3.757173,4.430109
30,Sierra Leone,15.355624,15.355624,15.355624,15.355624,15.355624,15.355624,15.355624,15.355624,15.355624,...,5.515835,4.452288,4.781441,4.522715,3.411002,3.161995,2.135018,2.249526,2.332952,2.346326
31,South Africa,5.504554,5.504554,5.504554,5.504554,5.504554,5.504554,5.504554,5.504554,5.504554,...,3.485175,3.338175,3.246705,3.159970,2.967468,2.810836,2.764015,2.477771,2.365006,2.210896
32,Sudan,11.776316,20.757576,19.378698,16.087824,13.641026,12.930311,30.544178,47.755282,43.155187,...,23.110624,21.916781,22.839473,25.645474,10.563913,8.732532,9.096010,9.495772,9.495772,9.495772
33,Eswatini,5.836585,6.812390,6.644308,7.491027,6.397472,6.374663,6.549263,5.683699,5.719939,...,5.731418,5.273987,6.097850,5.566129,5.864412,5.645228,5.666316,5.779477,5.426902,4.724687
34,Tanzania,9.864934,6.921401,6.360697,8.602719,9.574897,9.897170,10.285137,8.550598,8.859349,...,5.875335,6.363377,6.467472,6.370744,6.371793,6.139337,6.175807,6.099351,5.926395,6.026805
35,Togo,13.516042,15.493726,11.345806,10.844230,10.913310,10.982390,11.051469,11.120549,11.189628,...,5.941238,5.313613,5.904090,8.602320,7.904559,14.726793,9.361417,10.949269,15.940409,12.718073
36,Uganda,11.979900,11.979900,11.979900,11.979900,11.979900,11.979900,13.474107,13.876857,11.962912,...,6.907922,6.825504,6.934087,6.738454,7.409650,9.375445,12.090186,11.536222,9.655748,9.576290
37,Belize,4.699631,4.699631,4.699631,4.699631,4.699631,5.399425,4.499822,3.600220,2.700617,...,3.754359,3.216578,3.504905,3.677185,3.792228,3.726156,3.835715,4.272540,3.589076,3.584216
38,Dominican Republic,5.819930,5.819930,5.819930,5.819930,5.819930,5.819930,6.049629,5.972964,7.309434,...,3.832026,3.858698,3.735210,3.903296,4.244165,3.860764,3.377713,3.491452,3.608800,3.915256
39,El Salvador,11.127175,9.423142,7.529926,6.741322,5.497553,5.893474,5.255129,5.175629,4.468434,...,3.749599,3.898332,3.727232,3.762076,4.152946,4.336888,4.220668,3.821085,5.002662,4.655721
40,Guatemala,11.538244,11.538244,11.538244,11.538244,9.505636,6.956937,5.761423,4.880393,6.412350,...,3.123366,3.226695,3.505548,3.004088,2.824607,3.199684,2.829604,2.900984,3.235533,2.981787
41,Honduras,3.452037,3.452037,3.430755,3.409474,3.388193,3.366912,3.345630,3.324349,3.303068,...,4.315508,5.194565,5.593169,5.919409,5.695412,6.084180,5.162665,5.207353,6.096066,5.859422
42,Jamaica,5.315167,3.704620,2.844455,2.267033,1.987489,2.248087,1.866952,1.711616,1.797362,...,3.208053,3.142527,3.340449,3.341509,4.469117,5.629769,5.278262,4.638579,4.126882,4.057579
43,Mexico,2.243206,2.195258,2.513643,2.180091,2.094192,2.012037,2.084317,2.087035,2.107221,...,1.837966,1.697240,1.809955,1.698162,1.860699,2.016139,2.583217,2.471173,2.404924,2.369162
44,Nicaragua,2.933673,2.933673,2.933673,2.933673,2.933673,2.933673,2.933673,2.933673,2.933673,...,2.786365,3.060840,2.392010,2.298428,2.270293,2.173842,2.156821,1.797251,1.889237,2.016990
45,Trinidad and Tobago,1.808312,1.808312,1.894070,1.713083,1.532097,1.351110,1.170124,0.989137,0.808151,...,1.955082,2.150215,2.865719,2.751157,2.301112,2.363846,2.255867,2.829634,2.787004,2.821224
46,Canada,3.456985,3.444891,3.369517,3.172713,2.978953,2.790857,2.815581,2.897315,2.747572,...,2.579914,2.880447,2.856612,3.341695,3.240536,3.164630,2.657635,2.763640,2.886060,3.123651
47,United States,9.561488,9.561488,9.561488,9.561488,9.561488,9.561488,9.561488,9.561488,9.561488,...,10.418031,9.892660,9.626809,9.367407,9.349505,9.549711,8.246694,8.038668,9.323326,9.055287
48,Argentina,5.779801,5.779801,5.681439,5.762846,4.893383,4.514969,4.393884,4.285201,4.069804,...,2.260063,2.055124,1.948954,2.061588,1.880141,1.835074,1.728166,1.667721,1.841401,1.252315
49,Bolivia,9.924393,7.050542,8.407462,8.131167,7.627902,8.039569,8.978481,7.264762,7.037181,...,4.385245,3.945777,3.832963,3.980632,4.035396,4.023959,3.665594,3.854066,2.742530,4.202807

In [144]:
save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gov_complete_wide_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_final_interpolated.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gov_complete_wide_1992-2023.csv

In [145]:
df_long_complete = df_final_interpolated.melt(
    id_vars='Country',
    var_name='Year',
    value_name='Defense_Spending'
)

# Convert Year to integer (if needed)
df_long_complete['Year'] = df_long_complete['Year'].astype(int)

# Optional: sort it nicely
df_long_complete = df_long_complete.sort_values(by=['Country', 'Year']).reset_index(drop=True)

# Reorder columns
df_long_complete = df_long_complete[['Year', 'Country', 'Defense_Spending']]

df_long_complete.rename(columns={"Defense_Spending": "Defense_Share_GOV"}, inplace=True)

# Preview
print(df_long_complete.head(10))

   Year  Country  Defense_Share_GOV
0  1992  Albania           4.424699
1  1993  Albania           4.424699
2  1994  Albania           4.424699
3  1995  Albania           4.424699
4  1996  Albania           4.424699
5  1997  Albania           4.424699
6  1998  Albania           3.582514
7  1999  Albania           3.578827
8  2000  Albania           3.843841
9  2001  Albania           4.147413

In [146]:
unique_countries = df_long_complete['Country'].unique()
print(unique_countries)

['Albania' 'Algeria' 'Angola' 'Argentina' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Belize'
 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Congo, Dem. Rep.' 'Croatia' 'Cyprus' 'Czechia' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia' 'Eswatini'
 'Ethiopia' 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Ghana' 'Greece'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Honduras' 'Hungary'
 'India' 'Indonesia' 'Iran' 'Ireland' 'Israel' 'Italy' 'Ivory Coast'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyz Republic' 'Latvia' 'Lebanon' 'Lesotho' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta' 'Mauritius' 'Mexico'
 'Moldova' 'Mongolia' 'Morocco' 'Mozambique' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Papua New Guinea'
 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal' 'Romania' 'Russia'
 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone'
 'Singapore' 'Slovakia' 'Slovenia' 'South Africa' 'South Korea' 'Spain'
 'Sri Lanka' 'Sudan' 'Sweden' 'Switzerland' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Togo' 'Trinidad and Tobago' 'Tunisia' 'Uganda'
 'Ukraine' 'United Kingdom' 'United States' 'Uruguay' 'Yemen']

In [147]:
df_long_complete.head(20)

    Year  Country  Defense_Share_GOV
0   1992  Albania           4.424699
1   1993  Albania           4.424699
2   1994  Albania           4.424699
3   1995  Albania           4.424699
4   1996  Albania           4.424699
5   1997  Albania           4.424699
6   1998  Albania           3.582514
7   1999  Albania           3.578827
8   2000  Albania           3.843841
9   2001  Albania           4.147413
10  2002  Albania           4.269753
11  2003  Albania           4.612929
12  2004  Albania           4.663211
13  2005  Albania           4.734375
14  2006  Albania           5.428989
15  2007  Albania           6.226081
16  2008  Albania           6.256198
17  2009  Albania           4.642727
18  2010  Albania           5.303742
19  2011  Albania           5.283864

In [148]:
save_path = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\clean\\sipri\\milexp_share_gov_complete_long_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_long_complete.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gov_complete_long_1992-2023.csv