In [15]:
import pandas as pd
from pathlib import Path

In [30]:
raw_path  = Path(r"C:\\Users\\snaja\\OneDrive\\defaidX\\data\\raw\\sipri\\defense_spending_share_gdp.csv")
df = pd.read_csv(raw_path)

In [31]:
df.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,North Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,0.021401,0.025056,0.031464,0.029350,0.030941,0.036374,0.039657,0.037551,0.034334,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.046950,0.081717
3,Libya,NaN,NaN,NaN,NaN,NaN,0.040780,0.052974,0.037839,0.031469,...,0.154796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Morocco,0.042980,0.046556,0.044938,0.043474,0.039491,0.041927,0.034563,0.024208,0.026852,...,0.033985,0.029600,0.029821,0.029459,0.029029,0.028658,0.039797,0.037552,0.038146,0.036387

In [32]:
df.columns

Index(['Country', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [33]:
# Get unique country names
unique_countries = df['Country'].unique()
print(unique_countries)

['Africa' 'North Africa' 'Algeria' 'Libya' 'Morocco' 'Tunisia'
 'sub-Saharan Africa' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Burundi'
 'Cameroon' 'Cape Verde' 'Central African Republic' 'Chad' 'Congo, DR'
 'Congo, Republic' "Cote d'Ivoire" 'Djibouti' 'Equatorial Guinea'
 'Eritrea' 'Ethiopia' 'Gabon' 'Gambia, The' 'Ghana' 'Guinea'
 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Liberia' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria'
 'Rwanda' 'Senegal' 'Seychelles' 'Sierra Leone' 'Somalia' 'South Africa'
 'South Sudan' 'Sudan' 'Eswatini' 'Tanzania' 'Togo' 'Uganda' 'Zambia'
 'Zimbabwe' 'Americas' 'Central America and the Caribbean' 'Belize'
 'Costa Rica' 'Cuba' 'Dominican Republic' 'El Salvador' 'Guatemala'
 'Haiti' 'Honduras' 'Jamaica' 'Mexico' 'Nicaragua' 'Panama'
 'Trinidad and Tobago' 'North America' 'Canada' 'United States of America'
 'South America' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Venezuela'
 'Asia & Oceania' 'Oceania' 'Australia' 'Fiji' 'New Zealand'
 'Papua New Guinea' 'South Asia' 'Afghanistan' 'Bangladesh' 'India'
 'Nepal' 'Pakistan' 'Sri Lanka' 'East Asia' 'China' 'Japan' 'Korea, North'
 'Korea, South' 'Mongolia' 'Taiwan' 'South East Asia' 'Brunei' 'Cambodia'
 'Indonesia' 'Laos' 'Malaysia' 'Myanmar' 'Philippines' 'Singapore'
 'Thailand' 'Timor Leste' 'Viet Nam' 'Central Asia' 'Kazakhstan'
 'Kyrgyz Republic' 'Tajikistan' 'Turkmenistan' 'Uzbekistan' 'Europe'
 'Central Europe' 'Albania' 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia'
 'Czechia' 'Czechoslovakia' 'Estonia' 'German Democratic Republic'
 'Hungary' 'Kosovo' 'Latvia' 'Lithuania' 'North Macedonia' 'Montenegro'
 'Poland' 'Romania' 'Serbia' 'Slovakia' 'Slovenia' 'Yugoslavia'
 'Eastern Europe' 'Armenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova'
 'Russia' 'Ukraine' 'USSR' 'Western Europe' 'Austria' 'Belgium' 'Cyprus'
 'Denmark' 'Finland' 'France' 'Germany' 'Greece' 'Iceland' 'Ireland'
 'Italy' 'Luxembourg' 'Malta' 'Netherlands' 'Norway' 'Portugal' 'Spain'
 'Sweden' 'Switzerland' 'United Kingdom' 'European Union' 'Middle East'
 'Bahrain' 'Egypt' 'Iran' 'Iraq' 'Israel' 'Jordan' 'Kuwait' 'Lebanon'
 'Oman' 'Qatar' 'Saudi Arabia' 'Syria' 'TÃƒÂ¼rkiye' 'United Arab Emirates'
 'Yemen, North' 'Yemen']

In [34]:
# List of known aggregate/non-country entries to exclude
non_countries = [
    # ----- Global / income groups
    "World", "High income", "Low income", "Lower middle income",
    "Upper middle income", "Low & middle income", "Middle income",

    # ----- Broad geographic aggregates
    "Africa", "North Africa", "sub-Saharan Africa",
    "Americas", "North America", "South America",
    "Asia & Oceania", "Oceania",
    "Europe", "Central Europe",
    "Middle East",
    "South Asia", "East Asia", "South East Asia", "Central Asia",
    "USSR",                     # historical
    "Western Europe",           # regional aggregate
    "Eastern Europe",           # if also found, for completeness
    "Southern Europe",          # sometimes used in groupings
    "Northern Europe",          # idem

    # ----- Regional sub-aggregates
    "Central America and the Caribbean",
    "European Union",

    # ----- World Bank / development classifications
    "Fragile and conflict affected situations", "Fragile situations",
    "Heavily indebted poor countries (HIPC)",
    "IDA only", "IDA blend", "IDA total",
    "IDA & IBRD total", "IBRD only",
    "Least developed countries: UN classification",
    "World Bank high income", "World Bank low income",
    "World Bank middle income", "World Bank upper middle income",
    "World Bank lower middle income",

    # ----- OECD / other groupings
    "OECD members", "OECD", "Euro area",

    # ----- Demographic groupings
    "Early-demographic dividend", "Late-demographic dividend",
    "Post-demographic dividend", "Pre-demographic dividend",

    # ----- Small-state & territory aggregates
    "Caribbean small states", "Pacific island small states",
    "Other small states", "Small states",

    # ----- Sub-regional aggregates already present
    "Latin America & Caribbean",
    "Latin America & Caribbean (excluding high income)",
    "Latin America & the Caribbean (IDA & IBRD countries)",
    "East Asia & Pacific", "East Asia & Pacific (excluding high income)",
    "East Asia & Pacific (IDA & IBRD countries)",
    "Europe & Central Asia", "Europe & Central Asia (excluding high income)",
    "Europe & Central Asia (IDA & IBRD countries)",
    "Middle East & North Africa",
    "Middle East & North Africa (excluding high income)",
    "Middle East & North Africa (IDA & IBRD countries)",
    "Sub-Saharan Africa (excluding high income)",
    "Sub-Saharan Africa (IDA & IBRD countries)",
    "South Asia (IDA & IBRD)",
    "Africa Eastern and Southern", "Africa Western and Central",
    "Central Europe and the Baltics",

    # ----- Historical / defunct states & entities
    "Czechoslovakia", "German Democratic Republic", "Yemen, North",

    # ----- Territories & special areas
    "American Samoa", "Anguilla", "Aruba", "Bermuda",
    "British Virgin Islands", "Cayman Islands", "Channel Islands",
    "Curacao", "Faroe Islands", "French Polynesia", "Gibraltar",
    "Greenland", "Guam", "Isle of Man", "Jersey", "Guernsey",
    "Macao SAR, China", "Hong Kong SAR, China", "Marshall Islands",
    "Northern Mariana Islands", "Palau", "Puerto Rico",
    "Sint Maarten (Dutch part)", "New Caledonia",
    "Virgin Islands (U.S.)", "West Bank and Gaza",
    "Kosovo",  # UN-disputed; treat as non-sovereign if desired

    # ----- Additional non-sovereign or grouped codes encountered
    "Not classified",
]

# 1. Filter out non-countries
df_filtered = df[~df['Country'].isin(non_countries)].copy()


# Reset index so it goes from 0 to len(df)-1
df_filtered = df_filtered.reset_index(drop=True)

# 2. Normalize country names: strip whitespace and consistent capitalization
df_filtered['Country'] = df_filtered['Country'].str.strip()
df_filtered['Country'] = df_filtered['Country'].str.replace(' And ', ' and ', regex=False)
df_filtered['Country'] = df_filtered['Country'].str.replace(' Of ', ' of ', regex=False)
df_filtered['Country'] = df_filtered['Country'].str.replace(' Dr', ' DR', regex=False)

# 3. Manual fixes for spelling/formatting inconsistencies
df_filtered['Country'] = df_filtered['Country'].replace({
    'TÃƒÂ¼rkiye': 'TÃ¼rkiye',
    'TÃ£Â¼rkiye': 'TÃ¼rkiye',
    'Turkiye': 'TÃ¼rkiye',
    "Cote D'Ivoire": "Cote d'Ivoire",
    'Bosnia And Herzegovina': 'Bosnia and Herzegovina',
    'Trinidad And Tobago': 'Trinidad and Tobago',
    'United States of America': 'United States',
    'Cape Verde': 'Cabo Verde',
    'Congo, DR': 'Congo, Dem. Rep.',
    'Congo, Republic': 'Congo, Rep.',
    'Korea, South': 'South Korea',
    'Korea, Rep.': 'South Korea',
    'Brunei Darussalam': 'Brunei',
    'Lao PDR': 'Laos',
    'Timor Leste': 'Timor-Leste',
    'Russian Federation': 'Russia',
    'Iran, Islamic Rep.': 'Iran',
    'Egypt, Arab Rep.': 'Egypt',
    'Slovak Republic': 'Slovakia',
    'Yemen, Rep.': 'Yemen',
    'Bahamas, The' : 'The Bahamas',
    'Venezuela, RB': 'Venezuela',
    'Viet Nam' : 'Vietnam',
    'Russian Federation': 'Russia',
    'Iran, Islamic Rep.': 'Iran',
    'Korea, Rep.': 'South Korea',
    "Korea, Dem. People's Rep.": 'North Korea',
    'Egypt, Arab Rep.': 'Egypt',
    'Lao PDR': 'Laos',
    'Venezuela, RB': 'Venezuela',
    'Slovak Republic': 'Slovakia',
    'Syrian Arab Republic': 'Syria',
    'Gambia, The': 'The Gambia',
    'Bahamas, The': 'The Bahamas',
    'Brunei Darussalam': 'Brunei',
    'Cabo Verde': 'Cape Verde',
    'Timor-Leste': 'Timor Leste',
    'Congo, Dem. Rep.': 'Congo (Kinshasa)',
    'Congo, Rep.': 'Congo (Brazzaville)',
    'Cote d\'Ivoire': 'Ivory Coast',

})

# 4. Convert year columns from object (string) to numeric (float), handling errors gracefully
years = [str(y) for y in range(1992, 2025)]
for year in years:
    if year in df_filtered.columns:
        df_filtered[year] = pd.to_numeric(df_filtered[year], errors='coerce')


# Now df is filtered and country names are standardized, ready for analysis
print(f"Data shape after filtering and cleaning: {df_filtered.shape}")
print("Unique countries after cleaning:", df_filtered['Country'].unique())

Data shape after filtering and cleaning: (168, 33)
Unique countries after cleaning: ['Algeria' 'Libya' 'Morocco' 'Tunisia' 'Angola' 'Benin' 'Botswana'
 'Burkina Faso' 'Burundi' 'Cameroon' 'Cabo Verde'
 'Central African Republic' 'Chad' 'Congo, Dem. Rep.' 'Congo, Rep.'
 'Ivory Coast' 'Djibouti' 'Equatorial Guinea' 'Eritrea' 'Ethiopia' 'Gabon'
 'The Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho' 'Liberia'
 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Mozambique'
 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Senegal' 'Seychelles'
 'Sierra Leone' 'Somalia' 'South Africa' 'South Sudan' 'Sudan' 'Eswatini'
 'Tanzania' 'Togo' 'Uganda' 'Zambia' 'Zimbabwe' 'Belize' 'Costa Rica'
 'Cuba' 'Dominican Republic' 'El Salvador' 'Guatemala' 'Haiti' 'Honduras'
 'Jamaica' 'Mexico' 'Nicaragua' 'Panama' 'Trinidad and Tobago' 'Canada'
 'United States' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Venezuela' 'Australia'
 'Fiji' 'New Zealand' 'Papua New Guinea' 'Afghanistan' 'Bangladesh'
 'India' 'Nepal' 'Pakistan' 'Sri Lanka' 'China' 'Japan' 'Korea, North'
 'South Korea' 'Mongolia' 'Taiwan' 'Brunei' 'Cambodia' 'Indonesia' 'Laos'
 'Malaysia' 'Myanmar' 'Philippines' 'Singapore' 'Thailand' 'Timor-Leste'
 'Vietnam' 'Kazakhstan' 'Kyrgyz Republic' 'Tajikistan' 'Turkmenistan'
 'Uzbekistan' 'Albania' 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia'
 'Czechia' 'Estonia' 'Hungary' 'Latvia' 'Lithuania' 'North Macedonia'
 'Montenegro' 'Poland' 'Romania' 'Serbia' 'Slovakia' 'Slovenia'
 'Yugoslavia' 'Armenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova'
 'Russia' 'Ukraine' 'Austria' 'Belgium' 'Cyprus' 'Denmark' 'Finland'
 'France' 'Germany' 'Greece' 'Iceland' 'Ireland' 'Italy' 'Luxembourg'
 'Malta' 'Netherlands' 'Norway' 'Portugal' 'Spain' 'Sweden' 'Switzerland'
 'United Kingdom' 'Bahrain' 'Egypt' 'Iran' 'Iraq' 'Israel' 'Jordan'
 'Kuwait' 'Lebanon' 'Oman' 'Qatar' 'Saudi Arabia' 'Syria' 'TÃ¼rkiye'
 'United Arab Emirates' 'Yemen']

In [35]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  168 non-null    object
 1   1992     130 non-null    float64
 2   1993     143 non-null    float64
 3   1994     144 non-null    float64
 4   1995     140 non-null    float64
 5   1996     142 non-null    float64
 6   1997     143 non-null    float64
 7   1998     138 non-null    float64
 8   1999     141 non-null    float64
 9   2000     143 non-null    float64
 10  2001     143 non-null    float64
 11  2002     146 non-null    float64
 12  2003     150 non-null    float64
 13  2004     152 non-null    float64
 14  2005     153 non-null    float64
 15  2006     148 non-null    float64
 16  2007     146 non-null    float64
 17  2008     152 non-null    float64
 18  2009     149 non-null    float64
 19  2010     148 non-null    float64
 20  2011     145 non-null    float64
 21  2012     151 non-null    float64
 22  2013     153 non-null    float64
 23  2014     154 non-null    float64
 24  2015     150 non-null    float64
 25  2016     151 non-null    float64
 26  2017     151 non-null    float64
 27  2018     153 non-null    float64
 28  2019     150 non-null    float64
 29  2020     150 non-null    float64
 30  2021     151 non-null    float64
 31  2022     149 non-null    float64
 32  2023     148 non-null    float64
dtypes: float64(32), object(1)
memory usage: 43.4+ KB

In [36]:
df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,0.021401,0.025056,0.031464,0.029350,0.030941,0.036374,0.039657,0.037551,0.034334,...,0.055485,0.062702,0.063849,0.059244,0.054836,0.059999,0.066587,0.055708,0.046950,0.081717
1,Libya,NaN,NaN,NaN,NaN,NaN,0.040780,0.052974,0.037839,0.031469,...,0.154796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,0.042980,0.046556,0.044938,0.043474,0.039491,0.041927,0.034563,0.024208,0.026852,...,0.033985,0.029600,0.029821,0.029459,0.029029,0.028658,0.039797,0.037552,0.038146,0.036387
3,Tunisia,0.017061,0.017321,0.017421,0.017447,0.018675,0.017264,0.016780,0.015561,0.015479,...,0.018069,0.021396,0.022250,0.020318,0.019764,0.023833,0.027098,0.026367,0.024734,0.023579
4,Angola,0.056828,0.175226,0.057093,0.047074,0.024478,0.059723,0.026420,0.173347,0.063926,...,0.046985,0.031054,0.027333,0.025080,0.019558,0.017391,0.017370,0.013010,0.013168,0.013325

In [37]:
# Identify all year columns automatically (assuming they are from 1992 to 2023)
year_cols = [col for col in df_filtered.columns if col != 'Country']

# Convert columns to numeric just in case, then multiply
df_filtered[year_cols] = df_filtered[year_cols].apply(pd.to_numeric, errors='coerce') * 100

df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Algeria,2.140132,2.505632,3.146430,2.935027,3.094088,3.637404,3.965674,3.755080,3.433394,...,5.548483,6.270243,6.384929,5.924383,5.483589,5.999942,6.658711,5.570829,4.695022,8.171721
1,Libya,NaN,NaN,NaN,NaN,NaN,4.078027,5.297441,3.783860,3.146864,...,15.479576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Morocco,4.298048,4.655572,4.493819,4.347410,3.949093,4.192659,3.456334,2.420763,2.685172,...,3.398459,2.959998,2.982118,2.945890,2.902889,2.865798,3.979698,3.755157,3.814560,3.638685
3,Tunisia,1.706126,1.732114,1.742123,1.744708,1.867535,1.726384,1.677971,1.556076,1.547904,...,1.806888,2.139592,2.224985,2.031829,1.976449,2.383278,2.709778,2.636700,2.473364,2.357851
4,Angola,5.682831,17.522589,5.709281,4.707393,2.447848,5.972268,2.642012,17.334692,6.392603,...,4.698455,3.105426,2.733335,2.507983,1.955787,1.739072,1.736994,1.301000,1.316820,1.332529

In [38]:
df_long = df_filtered.melt(
    id_vars='Country',
    var_name='Year',
    value_name='Defense_Spending'
)

# Convert Year to integer (if needed)
df_long['Year'] = df_long['Year'].astype(int)

# Optional: sort it nicely
df_long = df_long.sort_values(by=['Country', 'Year']).reset_index(drop=True)

# Reorder columns
df_long = df_long[['Year', 'Country', 'Defense_Spending']]

df_long.rename(columns={"Defense_Spending": "Defense_Share_GDP"}, inplace=True)

# Preview
print(df_long.head(10))

   Year      Country  Defense_Share_GDP
0  1992  Afghanistan                NaN
1  1993  Afghanistan                NaN
2  1994  Afghanistan                NaN
3  1995  Afghanistan                NaN
4  1996  Afghanistan                NaN
5  1997  Afghanistan                NaN
6  1998  Afghanistan                NaN
7  1999  Afghanistan                NaN
8  2000  Afghanistan                NaN
9  2001  Afghanistan                NaN

In [13]:
save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_long_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_long.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_long_1992-2023.csv

In [39]:
# Assume the first column is 'Country' and all others are years (e.g., 1990â€“2023)
year_columns = df_filtered.columns[1:]  # Skip 'Country' column

# Count number of missing year values per country
df_filtered["Missing_Years"] = df_filtered[year_columns].isna().sum(axis=1)

# View countries sorted by how many years are missing
missing_summary = df_filtered[["Country", "Missing_Years"]].sort_values(by="Missing_Years", ascending=False)

missing_summary.head(10)

          Country  Missing_Years
125    Yugoslavia             32
89   Korea, North             32
52     Costa Rica             32
141       Iceland             32
41        Somalia             32
107  Turkmenistan             26
62         Panama             24
53           Cuba             22
108    Uzbekistan             22
18        Eritrea             21

In [40]:
df_filtered.head()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Missing_Years
0,Algeria,2.140132,2.505632,3.146430,2.935027,3.094088,3.637404,3.965674,3.755080,3.433394,...,6.270243,6.384929,5.924383,5.483589,5.999942,6.658711,5.570829,4.695022,8.171721,0
1,Libya,NaN,NaN,NaN,NaN,NaN,4.078027,5.297441,3.783860,3.146864,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,Morocco,4.298048,4.655572,4.493819,4.347410,3.949093,4.192659,3.456334,2.420763,2.685172,...,2.959998,2.982118,2.945890,2.902889,2.865798,3.979698,3.755157,3.814560,3.638685,0
3,Tunisia,1.706126,1.732114,1.742123,1.744708,1.867535,1.726384,1.677971,1.556076,1.547904,...,2.139592,2.224985,2.031829,1.976449,2.383278,2.709778,2.636700,2.473364,2.357851,0
4,Angola,5.682831,17.522589,5.709281,4.707393,2.447848,5.972268,2.642012,17.334692,6.392603,...,3.105426,2.733335,2.507983,1.955787,1.739072,1.736994,1.301000,1.316820,1.332529,0

In [42]:
df_filtered[df_filtered["Country"] == "Yemen"]

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Missing_Years
167,Yemen,7.277043,7.06392,8.398759,6.350578,5.281346,5.805753,6.081569,5.172722,4.915392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [43]:
# Step 1: Count missing years per country (across all year columns)
missing_years_per_country = df_filtered.set_index('Country').isna().sum(axis=1)

# Step 2: Identify countries with more than 5 missing years
countries_to_drop = missing_years_per_country[missing_years_per_country > 5].index.tolist()
print(f"Number of countries to drop: {len(countries_to_drop)}")

# Step 3: Drop these countries from df_filtered
df_final = df_filtered[~df_filtered['Country'].isin(countries_to_drop)].reset_index(drop=True)

# Step 4: Check result
print(f"Remaining countries: {df_final['Country'].nunique()}")
df_final.head()

Number of countries to drop: 39
Remaining countries: 129

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Missing_Years
0,Algeria,2.140132,2.505632,3.146430,2.935027,3.094088,3.637404,3.965674,3.755080,3.433394,...,6.270243,6.384929,5.924383,5.483589,5.999942,6.658711,5.570829,4.695022,8.171721,0
1,Morocco,4.298048,4.655572,4.493819,4.347410,3.949093,4.192659,3.456334,2.420763,2.685172,...,2.959998,2.982118,2.945890,2.902889,2.865798,3.979698,3.755157,3.814560,3.638685,0
2,Tunisia,1.706126,1.732114,1.742123,1.744708,1.867535,1.726384,1.677971,1.556076,1.547904,...,2.139592,2.224985,2.031829,1.976449,2.383278,2.709778,2.636700,2.473364,2.357851,0
3,Angola,5.682831,17.522589,5.709281,4.707393,2.447848,5.972268,2.642012,17.334692,6.392603,...,3.105426,2.733335,2.507983,1.955787,1.739072,1.736994,1.301000,1.316820,1.332529,0
4,Botswana,4.482809,4.933492,4.008120,3.506480,2.899522,3.197205,3.779399,3.092074,3.191243,...,2.825195,3.410663,3.248579,2.924759,3.081222,3.334788,3.045569,2.382125,2.529822,0

In [44]:
df_final = df_final.drop(columns=['Missing_Years'], errors='ignore')
df_final = df_final.reset_index(drop=True)

In [45]:
df_final.size

4257

In [46]:
# Create a copy to preserve df_final
df_final_interpolated = df_final.copy()

# Identify year columns (excluding 'Country')
year_cols = df_final_interpolated.columns.difference(['Country'])

# Interpolate only missing values for each country across years
df_final_interpolated[year_cols] = df_final_interpolated[year_cols].apply(
    lambda row: row.interpolate(limit_direction='both'), axis=1
)

# Confirm if any NaNs remain (there shouldn't be, since we dropped >5-missing already)
missing_remaining = df_final_interpolated[year_cols].isna().sum().sum()
print(f"Total remaining missing values after interpolation: {missing_remaining}")

Total remaining missing values after interpolation: 0

In [47]:
df_final_interpolated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  129 non-null    object
 1   1992     129 non-null    float64
 2   1993     129 non-null    float64
 3   1994     129 non-null    float64
 4   1995     129 non-null    float64
 5   1996     129 non-null    float64
 6   1997     129 non-null    float64
 7   1998     129 non-null    float64
 8   1999     129 non-null    float64
 9   2000     129 non-null    float64
 10  2001     129 non-null    float64
 11  2002     129 non-null    float64
 12  2003     129 non-null    float64
 13  2004     129 non-null    float64
 14  2005     129 non-null    float64
 15  2006     129 non-null    float64
 16  2007     129 non-null    float64
 17  2008     129 non-null    float64
 18  2009     129 non-null    float64
 19  2010     129 non-null    float64
 20  2011     129 non-null    float64
 21  2012     129 non-null    float64
 22  2013     129 non-null    float64
 23  2014     129 non-null    float64
 24  2015     129 non-null    float64
 25  2016     129 non-null    float64
 26  2017     129 non-null    float64
 27  2018     129 non-null    float64
 28  2019     129 non-null    float64
 29  2020     129 non-null    float64
 30  2021     129 non-null    float64
 31  2022     129 non-null    float64
 32  2023     129 non-null    float64
dtypes: float64(32), object(1)
memory usage: 33.4+ KB

In [48]:
df_final_interpolated.tail()

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
124,Kuwait,31.786024,12.440219,13.259239,13.581581,10.292649,8.086476,8.796560,7.590224,7.150149,...,3.585618,5.007469,5.893519,5.607445,5.190855,5.421006,6.567730,6.590302,4.727844,4.895729
125,Lebanon,7.983998,6.011279,6.997713,6.711928,5.661852,4.305155,4.023252,4.770439,5.392100,...,4.678175,4.486884,5.062663,4.505140,4.851795,4.242218,3.032645,3.366222,2.918489,8.913176
126,Oman,12.184093,11.525731,11.766453,10.967648,9.407078,9.357911,8.216092,7.516788,7.085709,...,8.860412,9.571167,10.563126,8.413250,8.267601,7.439212,8.030242,6.557983,5.043803,5.404266
127,Saudi Arabia,11.284158,12.465372,10.644782,9.278468,8.468078,11.000935,14.311038,11.381936,10.534403,...,10.535061,13.022838,9.560482,9.846227,8.813335,7.794588,8.792174,7.229220,6.397422,7.086386
128,TÃ¼rkiye,3.870566,3.921417,4.051359,3.901650,4.139697,4.103672,3.184501,3.889017,3.661095,...,1.871967,1.812848,2.050325,2.050066,2.523695,2.689859,2.431400,1.896973,1.189192,1.502665

In [49]:
unique_countries = df_final_interpolated['Country'].unique()
print(unique_countries)

['Algeria' 'Morocco' 'Tunisia' 'Angola' 'Botswana' 'Burkina Faso'
 'Burundi' 'Cameroon' 'Cabo Verde' 'Chad' 'Congo, Dem. Rep.' 'Ethiopia'
 'The Gambia' 'Ghana' 'Kenya' 'Lesotho' 'Madagascar' 'Malawi' 'Mali'
 'Mauritania' 'Mauritius' 'Mozambique' 'Namibia' 'Niger' 'Nigeria'
 'Rwanda' 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Eswatini'
 'Tanzania' 'Uganda' 'Zambia' 'Zimbabwe' 'Belize' 'Dominican Republic'
 'El Salvador' 'Guatemala' 'Jamaica' 'Mexico' 'Nicaragua' 'Canada'
 'United States' 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia'
 'Ecuador' 'Guyana' 'Paraguay' 'Peru' 'Uruguay' 'Venezuela' 'Australia'
 'Fiji' 'New Zealand' 'Papua New Guinea' 'Bangladesh' 'India' 'Nepal'
 'Pakistan' 'Sri Lanka' 'China' 'Japan' 'South Korea' 'Mongolia' 'Taiwan'
 'Brunei' 'Cambodia' 'Indonesia' 'Malaysia' 'Philippines' 'Singapore'
 'Thailand' 'Kazakhstan' 'Kyrgyz Republic' 'Tajikistan' 'Albania'
 'Bulgaria' 'Croatia' 'Czechia' 'Estonia' 'Hungary' 'Latvia' 'Lithuania'
 'North Macedonia' 'Poland' 'Romania' 'Serbia' 'Slovakia' 'Slovenia'
 'Armenia' 'Azerbaijan' 'Belarus' 'Georgia' 'Moldova' 'Russia' 'Ukraine'
 'Austria' 'Belgium' 'Cyprus' 'Denmark' 'Finland' 'France' 'Germany'
 'Greece' 'Ireland' 'Italy' 'Luxembourg' 'Malta' 'Netherlands' 'Norway'
 'Portugal' 'Spain' 'Sweden' 'Switzerland' 'United Kingdom' 'Bahrain'
 'Egypt' 'Iran' 'Israel' 'Jordan' 'Kuwait' 'Lebanon' 'Oman' 'Saudi Arabia'
 'TÃ¼rkiye']

In [50]:
missing_countries = df_final_interpolated[df_final_interpolated.isnull().any(axis=1)]["Country"].tolist()
print("Countries with missing years in df_final:")
print(missing_countries)

Countries with missing years in df_final:
[]

In [51]:
df_final_interpolated.isna().sum().sum()

np.int64(0)

In [53]:
df_final_interpolated.tail(50)

,Country,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
79,Albania,4.670888,3.199451,2.547819,2.053587,1.379030,1.283081,1.238243,1.249210,1.246360,...,1.346516,1.162304,1.103581,1.109151,1.160545,1.280806,1.295836,1.242988,1.210983,1.743992
80,Bulgaria,2.972634,2.609272,2.492617,2.374131,2.402934,2.430701,2.453059,2.645172,2.652456,...,1.309602,1.245934,1.243846,1.222209,1.449294,3.133569,1.593461,1.517491,1.592287,1.847373
81,Croatia,7.607386,10.726757,11.148177,9.175691,8.163215,7.521586,5.595251,4.416377,3.020987,...,1.816339,1.753807,1.593523,1.636767,1.546968,1.603504,1.702561,1.969444,1.792829,1.779892
82,Czechia,2.330404,2.330404,2.283401,1.843623,1.731905,1.662046,1.825932,1.859070,1.877357,...,0.966228,0.946582,0.996128,0.956655,1.088449,1.152293,1.322450,1.397346,1.378528,1.524190
83,Estonia,0.761752,0.761752,1.041630,0.958098,0.873596,1.046773,1.067492,1.287113,1.376327,...,1.925357,2.026042,2.069164,2.009767,2.009087,2.035704,2.296757,2.030866,2.160443,2.866654
84,Hungary,2.179653,1.906568,1.824134,1.324727,1.259061,1.476684,1.272164,1.433613,1.513100,...,0.857810,0.904722,1.002020,1.193553,1.006068,1.335242,1.760069,1.323741,1.835657,2.127843
85,Latvia,0.735295,0.735295,0.838757,0.805657,0.639145,0.582115,0.587848,0.750941,0.881715,...,0.943460,1.037354,1.450062,1.593511,2.061498,2.021400,2.162111,2.087023,2.094158,2.267543
86,Lithuania,0.812261,0.812261,0.493378,0.454373,0.503980,0.747111,1.229254,0.970102,1.216700,...,0.879596,1.137748,1.477506,1.712071,1.966375,1.995541,2.065239,1.956510,2.446622,2.715678
87,North Macedonia,2.813677,2.813677,2.813677,2.813677,2.813677,2.128247,2.098240,1.713821,1.850822,...,1.092961,0.993428,0.970116,0.895041,0.943109,1.159116,1.240587,1.471932,1.622928,1.698956
88,Poland,2.230999,2.469187,2.273232,1.955507,1.967919,2.031307,2.019081,1.901136,1.830337,...,1.919037,2.140546,1.949218,1.901660,2.044800,1.975095,2.287485,2.242624,2.228561,3.832729
89,Romania,4.247683,2.740608,3.114728,2.613448,2.369073,3.017650,3.004175,2.640259,2.498914,...,1.347664,1.450718,1.427704,1.733755,1.791444,1.835599,2.009504,1.852594,1.724874,1.613895
90,Serbia,3.511286,3.511286,3.511286,3.511286,3.511286,3.786504,3.511898,4.005947,5.153943,...,1.940769,1.826086,1.742945,1.909058,1.636688,2.526471,2.375585,2.313204,2.711341,2.853246
91,Slovakia,1.996360,1.996360,1.939519,3.154558,2.973829,2.283116,1.744336,1.573827,1.655312,...,0.984879,1.109502,1.116099,1.104289,1.221701,1.704971,1.922005,1.741547,1.808561,2.016535
92,Slovenia,2.247233,1.817301,1.654075,1.573035,1.536363,1.401368,1.361182,1.211302,1.093166,...,0.973740,0.930119,1.004287,0.981781,0.977857,1.054332,1.058563,1.233771,1.292128,1.336650
93,Armenia,2.203390,2.296644,3.177978,4.059312,3.281867,3.909399,3.528096,3.697374,3.560025,...,3.943378,4.239226,4.090349,3.849731,4.119886,4.787706,4.982544,4.465145,4.081746,5.450925
94,Azerbaijan,2.400226,5.000468,1.946585,2.736901,2.254230,2.324050,2.412356,2.625110,2.267862,...,4.555013,5.464877,3.688527,3.756302,3.549293,3.849019,5.241526,4.930517,3.799536,4.602103
95,Belarus,1.622499,2.790972,3.621608,1.699464,1.260693,1.768967,1.495099,1.366761,1.346984,...,1.042328,1.138066,1.523281,1.372004,1.537994,1.396423,1.403259,1.365289,1.648693,1.797703
96,Georgia,2.210173,2.210173,2.210173,2.210173,2.210173,1.253588,1.136974,0.924375,0.615583,...,2.357940,2.002946,2.081640,1.969743,1.897113,1.776554,1.805478,1.611536,1.465733,1.681144
97,Moldova,0.530067,0.530067,0.773794,0.925966,0.906694,0.902772,0.624855,0.511299,0.387282,...,0.293185,0.295625,0.344191,0.324532,0.332324,0.362122,0.385463,0.377729,0.328875,0.546679
98,Russia,4.427032,4.181325,4.523701,3.784430,3.756559,4.039809,2.732649,3.073288,3.307030,...,4.112993,4.871515,5.425148,4.248996,3.719822,3.860338,4.171479,3.611741,4.690035,5.864189
99,Ukraine,0.434646,0.434646,2.417772,2.734948,3.178835,3.988241,3.244032,2.883528,3.511083,...,2.967368,3.847849,3.668618,3.241493,3.635166,4.067938,4.400315,3.425492,25.879944,36.653110
100,Austria,1.099214,1.115584,1.094453,1.073232,1.049683,1.046434,1.018073,0.980246,0.980319,...,0.747780,0.698116,0.729738,0.757279,0.745028,0.750360,0.884127,0.873694,0.768529,0.844275
101,Belgium,1.832333,1.735966,1.677143,1.565752,1.540103,1.476976,1.463919,1.385836,1.341210,...,0.970960,0.909284,0.894706,0.883563,0.891358,0.888429,1.012485,1.038727,1.182396,1.214616
102,Cyprus,9.129286,4.074953,4.023989,3.041034,4.524715,5.573911,4.676318,2.733851,2.822090,...,1.542602,1.647668,1.404558,1.568103,1.760546,1.786619,1.920172,1.837920,1.822731,1.824603
103,Denmark,1.889377,1.907198,1.770110,1.685315,1.644817,1.615961,1.608026,1.564855,1.457444,...,1.149273,1.111446,1.147638,1.138233,1.277539,1.295092,1.377131,1.300122,1.367616,1.953196
104,Finland,1.907131,1.868012,1.755604,1.422541,1.530472,1.535155,1.463176,1.223104,1.241148,...,1.451930,1.449961,1.419653,1.351298,1.362534,1.353718,1.425823,1.291233,1.573638,2.421486
105,France,2.690661,2.689535,2.660375,2.492496,2.414474,2.375410,2.226208,2.177843,2.085018,...,1.862961,1.872258,1.917282,1.908642,1.843009,1.836461,1.996478,1.914406,1.932423,2.056387
106,Germany,1.860480,1.693538,1.550276,1.495022,1.465858,1.409302,1.390895,1.395074,1.358883,...,1.149942,1.137338,1.151230,1.153404,1.170548,1.261841,1.374272,1.321027,1.377138,1.519652
107,Greece,3.629801,3.600125,3.581972,3.173190,3.311913,3.365869,3.533869,3.360470,3.465355,...,2.352288,2.463303,2.572120,2.563490,2.716453,2.622453,3.069344,3.866879,4.024240,3.234408
108,Ireland,1.204118,1.139225,1.108733,1.014359,0.989927,0.924066,0.823870,0.750677,0.695698,...,0.459917,0.341168,0.335787,0.306035,0.286463,0.278905,0.267555,0.246965,0.218653,0.216858
109,Italy,1.751977,1.786768,1.713743,1.467843,1.588492,1.626693,1.644509,1.683300,1.741059,...,1.282970,1.208228,1.334835,1.357371,1.359291,1.311510,1.738984,1.681262,1.694558,1.605783
110,Luxembourg,0.827198,0.707154,0.741561,0.595327,0.587036,0.613890,0.639921,0.571402,0.544119,...,0.366857,0.415571,0.378949,0.495111,0.500656,0.546198,0.578077,0.471249,0.625326,0.749055
111,Malta,0.973183,1.001961,1.024059,0.842358,0.874812,0.824691,0.731472,0.683655,0.625517,...,0.486762,0.467204,0.511889,0.479626,0.434325,0.501869,0.566882,0.486319,0.432529,0.558644
112,Netherlands,2.213003,2.027829,1.913061,1.794241,1.756608,1.659273,1.580648,1.589825,1.434004,...,1.159688,1.132712,1.163627,1.156804,1.216674,1.318361,1.441264,1.398252,1.352190,1.532563
113,Norway,2.964700,2.687350,2.733137,2.307491,2.163075,2.016080,2.156738,2.039106,1.705832,...,1.462279,1.498123,1.617344,1.705153,1.715297,1.843735,1.965984,1.721024,1.500521,1.607281
114,Portugal,1.805244,1.786507,1.681213,1.706990,1.601644,1.541157,1.422612,1.425842,1.406468,...,1.307687,1.326558,1.541103,1.237068,1.340260,1.374696,1.429791,1.519533,1.399269,1.519297
115,Spain,2.042804,2.011872,2.001337,1.917022,1.814439,1.722816,1.757320,1.755235,1.725518,...,1.253912,1.270232,1.137136,1.230029,1.254334,1.232705,1.366645,1.352118,1.433997,1.509012
116,Sweden,2.338791,2.263711,2.131466,1.753405,1.484603,1.908976,1.872624,1.865949,1.823067,...,1.126447,1.066502,1.053016,1.023179,1.032246,1.093409,1.146086,1.185224,1.306043,1.473411
117,Switzerland,1.523709,1.366964,1.332284,1.355811,1.283757,1.220864,1.185204,1.086212,1.029280,...,0.634898,0.651341,0.664751,0.665685,0.652877,0.696324,0.772559,0.674465,0.690464,0.702718
118,United Kingdom,3.864718,3.590649,3.381934,2.854200,2.724592,2.560149,2.495962,2.422910,2.372797,...,2.184486,2.048908,1.984491,1.950029,1.944556,1.985254,2.162216,2.073222,2.073926,2.264879
119,Bahrain,5.878072,5.369855,5.111302,5.183232,5.273940,5.068487,5.333104,5.503621,3.961671,...,4.418512,4.644111,4.670635,4.320738,4.041086,4.029861,4.045650,3.553883,3.145693,3.108460
120,Egypt,3.215501,3.097737,3.153935,3.082036,2.974812,2.841485,2.659383,2.569767,2.551265,...,1.689695,1.723147,1.666605,1.422032,1.249966,1.180972,1.122475,1.122009,1.048482,0.870565
121,Iran,1.789305,1.700361,2.073010,2.154166,2.244864,2.498875,2.629079,2.404552,2.295042,...,2.116557,2.557091,2.796436,2.844338,2.243435,2.110689,2.167920,2.216288,2.111552,2.061404
122,Israel,10.925077,11.523244,10.119966,7.918744,7.729654,7.479268,6.980217,6.530123,6.297165,...,5.647197,5.436336,5.434060,5.445524,5.304526,5.088474,5.295045,4.964028,4.455740,5.317412
123,Jordan,6.924249,6.977109,6.539457,4.454249,6.026917,6.131506,6.274622,6.282233,6.256556,...,4.203453,4.185163,4.435506,4.684354,4.560091,4.566237,4.717576,4.824774,4.896259,4.905379
124,Kuwait,31.786024,12.440219,13.259239,13.581581,10.292649,8.086476,8.796560,7.590224,7.150149,...,3.585618,5.007469,5.893519,5.607445,5.190855,5.421006,6.567730,6.590302,4.727844,4.895729
125,Lebanon,7.983998,6.011279,6.997713,6.711928,5.661852,4.305155,4.023252,4.770439,5.392100,...,4.678175,4.486884,5.062663,4.505140,4.851795,4.242218,3.032645,3.366222,2.918489,8.913176
126,Oman,12.184093,11.525731,11.766453,10.967648,9.407078,9.357911,8.216092,7.516788,7.085709,...,8.860412,9.571167,10.563126,8.413250,8.267601,7.439212,8.030242,6.557983,5.043803,5.404266
127,Saudi Arabia,11.284158,12.465372,10.644782,9.278468,8.468078,11.000935,14.311038,11.381936,10.534403,...,10.535061,13.022838,9.560482,9.846227,8.813335,7.794588,8.792174,7.229220,6.397422,7.086386
128,TÃ¼rkiye,3.870566,3.921417,4.051359,3.901650,4.139697,4.103672,3.184501,3.889017,3.661095,...,1.871967,1.812848,2.050325,2.050066,2.523695,2.689859,2.431400,1.896973,1.189192,1.502665

In [54]:
df_final_interpolated[df_final_interpolated["Country"] == "Yemen"]

Empty DataFrame
Columns: [Country, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Index: []

[0 rows x 33 columns]

In [55]:
save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_complete_wide_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_final_interpolated.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_complete_wide_1992-2023.csv

In [56]:
df_long_complete = df_final_interpolated.melt(
    id_vars='Country',
    var_name='Year',
    value_name='Defense_Spending'
)

# Convert Year to integer (if needed)
df_long_complete['Year'] = df_long['Year'].astype(int)

# Optional: sort it nicely
df_long_complete = df_long_complete.sort_values(by=['Country', 'Year']).reset_index(drop=True)

# Reorder columns
df_long_complete = df_long_complete[['Year', 'Country', 'Defense_Spending']]

df_long_complete.rename(columns={"Defense_Spending": "Defense_Share_GDP"}, inplace=True)

# Preview
print(df_long_complete.head(10))

   Year  Country  Defense_Share_GDP
0  1992  Albania           1.517217
1  1993  Albania           1.558592
2  1994  Albania           1.528266
3  1995  Albania           1.487083
4  1996  Albania           1.408982
5  1997  Albania           1.346516
6  1998  Albania           1.162304
7  1999  Albania           1.103581
8  2000  Albania           1.109151
9  2001  Albania           1.160545

In [57]:
unique_countries = df_long_complete['Country'].unique()
print(unique_countries)

['Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus' 'Belgium' 'Belize'
 'Bolivia' 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada' 'Chad' 'Chile'
 'China' 'Colombia' 'Congo, Dem. Rep.' 'Croatia' 'Cyprus' 'Czechia'
 'Denmark' 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Estonia'
 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Georgia' 'Germany'
 'Ghana' 'Greece' 'Guatemala' 'Guyana' 'Hungary' 'India' 'Indonesia'
 'Iran' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kuwait' 'Kyrgyz Republic' 'Latvia' 'Lebanon' 'Lesotho'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Morocco'
 'Mozambique' 'Namibia' 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'South Korea' 'Spain' 'Sri Lanka' 'Sweden' 'Switzerland'
 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'The Gambia' 'Tunisia'
 'TÃ¼rkiye' 'Uganda' 'Ukraine' 'United Kingdom' 'United States' 'Uruguay'
 'Venezuela' 'Zambia' 'Zimbabwe']

In [58]:
save_path = Path(r"C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_complete_long_1992-2023.csv")

# Make sure the folder exists
save_path.parent.mkdir(parents=True, exist_ok=True)

# Save sorted dataframe
df_long_complete.to_csv(save_path, index=False)

print(f"Cleaned and sorted file written to: {save_path}")

Cleaned and sorted file written to: C:\Users\snaja\OneDrive\defaidX\data\clean\sipri\milexp_share_gdp_complete_long_1992-2023.csv